* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #202124;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

/* start header */
.header_container {
    display: flex;
    justify-content: space-between;
    margin: 20px 40px;
}

.google_container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.logo_google {
    display: flex;
    align-items: center;
}

.img_logo_google {
    width: 92px;
    height: 30px;
    margin-right: 40px;
    margin-top: 8px;
}

.search_container {
    width: 692px;
    height: 46px;
    background: #303134;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: box-shadow 0.2s;
}

hr {
    height: 27px;
    margin: auto;
}

.search_container:hover {
    box-shadow: 0 2px 5px #000000;
}

.input_search {
    width: 489px;
    height: 25px;
    margin-top: 16px;
    background: #303134;
    border: 0;
    margin-left: 20px;
    font-size: 18px;
    margin: auto;
    color: #ffffff;
}



.cross_close {
    height: 27px;
    cursor: pointer;
}

.search_voice {
    width: 17px;
    height: 17px;
    margin: auto;
    cursor: pointer;
}

.search_image {
    width: 25px;
    height: 25px;
    margin: auto;
    cursor: pointer;
}

.magnifying_glass_search {
    width: 25px;
    height: 25px;
    margin: auto;
}

.left_container {
    display: flex;
}

.left_menu {
    margin-top: 10px;
    margin-left: 120px;
}

.left_menu nav {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.left_menu nav a {
    height: 40px;
    padding: 10px;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 24px;
    background-color: #202124;
    border: 1px solid #3c4043;
    color: #ffffff;
    transition: background 0.2px;
}

.left_menu nav a:hover {
    background: #3c4043;
}

.middle_container {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
}

.middle+.middle {
    margin-left: 14.4rem;
}

.middle {
    margin-right: -24.3rem;
    color: #9aa0a6;
    cursor: pointer;
    font-size: 14px;
    padding: 10px;
}

.middle:hover {
    background: #303134;
    border-radius: 10px;
}

.down_arrow {
    width: 10px;
}

.pipe {
    height: 20px;
    border: solid 1px #9aa0a6;
    margin-right: 7px;
    color: #9aa0a6;
}

.right_menu {
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
}

.right_container {
    display: flex;
    align-items: center;
}

.settings, .app_menu {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.2s;
}

.settings:hover, .app_menu:hover {
    background: #3c4043;
}

.avatar {
    width: 34px;
    height: 34px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.2s;
}

.avatar:hover {
    border: 1px solid #3c4043;
}

.safe_search {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 10px;
    border-radius: 24px;
    cursor: pointer;
    color: #9aa0a6;
    transition: background 0.2s;
}

.safe_search img {
    margin-left: 5px;
}

.safe_search:hover {
    background: #303134;
}

.border {
    margin: 20px 0;
    border: 1px solid #3c4043;
}

/* end header */

/* star section main  */

.section_container {
    display: flex;
}

.body_container {
    display: flex;
    flex-direction: column;
    width: 652px;
    margin-left: 230px;
}

.content_link:nth-child(1n+1) {
    margin-top: 20px;
}

.amz_link {
    display: flex;
}

.amz_link img {
    width: 26px;
    height: 26px;
    display: flex;
    border-radius: 50%;
}

.amazon_container {
    margin-left: 10px;
    font-size: 14px;
    color: #dadce0;
}

.page_amz {
    font-size: 12px;
    color: #bdc1c6;
}

.translate {
    display: inline-flex;
    color: #8AB4F8;
    margin-bottom: 5px;
}

.translate:hover {
    text-decoration: underline;
}

.translate img {
    width: 18px;
    height: 18px;
}

.tumb_title h3 {
    color: #8AB4F8;
    font-size: 20px;
    margin-bottom: 5px;
    transition: ease-in-out 0.2s;
}

.tumb_title h3:hover {
    text-decoration: underline;
}

.paragraph_star {
    width: 510px;
    color: #bdc1c6;
    font-size: 14px;
}

.results {
    margin: 40px 0;
    display: flex;
    align-items: center;
    width: 652px;
}


.border_line {
    width: 25%;
    border: 1px solid #3c4043;
}

.border_results {
    border-radius: 24px;
    width: 240px;
    background: #303134;
    cursor: pointer;
    border: 1px solid rgba(255, 255, 255, 0);
}

.border_results:hover {
    background: #3c4043;
}

.btn_result {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.btn_result a {
    border: none;
    color: #bdc1c6;
    display: flex;
}

.btn_result img {
    width: 12px;
    height: 12px;
    margin-top: 4px;
    margin-left: 5px;
}

/* end section main */

/* star footer container */

.footer_container {
    display: flex;
    flex-direction: column;
    background: #171717;
    padding: 10px;
}

.country {
    margin-right: 10px;
}

.line_vert {
    height: 100%;
    background: #3c4043;
    border: 1px solid #3c4043;
    font-size: 28px;
}

.nationality {
    margin-left: 10px;
}

.location {
    align-items: center;
    color: #9aa0a6;
    margin-left: 230px;
    font-size: 14px;
    margin-top: 10px;
}

.location a {
    color: #8AB4F8;
    font-size: 14px;
}

.border_horizon {
    max-width: 100%;
    border: 1px solid #3c4043;
}

.quick_settings {
    width: 20px;
    height: 20px;
}

.options{
    display: flex;
    margin-top: 10px;
}

.options a{
    font-weight: bold;
    display: flex;
    margin-left: 10px;
}